* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "TikTok Sans", sans-serif;
}

video {
  height: 100%;
  width: 100%;
  display: block;
  object-position: center;
  object-fit: cover;
}

a {
  color: #ffffff;
}

.reel-page {
  height: 100vh; /* ti incuriosisce? */
  max-width: 512px;
  min-width: 400px;
  position: relative;
}

/* Header */
.reel-header {
  position: absolute;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
}

i.bi-play-btn {
  position: absolute;
  display: block;
  font-size: 22px;
  left: 5%;
  top: 25%;
}

nav.top-navbar {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
  gap: 15px;
}

a#explore-nav,
a#following-nav {
  opacity: 50%;
}

a#foryou-nav:after {
  content: "";
  position: absolute;
  display: block;
  background-color: #ffffff;
  height: 3px;
  width: 25px;
  transform: translate(40%, 40%);
  border-radius: 20%;
}

i.bi-search {
  position: absolute;
  display: block;
  font-size: 22px;
  right: 5%;
  top: 25%;
}

/* Sidebar */
.sidebar {
  padding: 0 16px;
  position: absolute;
  right: 0;
  top: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.sidebar i {
  font-size: 26px;
}

.sidebar p {
  font-size: 14px;
}

.sidebar > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

div#logo-side {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#logo-side > img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #ffffff;
}

i.bi-plus {
  position: absolute;
  font-size: 24px;
  border-radius: 100%;
  background-color: #e63333;
  height: 23px;
  width: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -10px;
  right: 12px;
}

/* Footer */
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;

  /* Inserisci qui sotto 
    le tue regole, se necessario. */
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
  min-height: 100px;
  border: 2px dashed #fff;
}
/* --------------------- */
